<div class="col">
    <div class="col-md-4">
        <div class="sidebar-wrapper sub_menu">
            <ul class="nav responsive-nav">
                <!-- <li *ngIf="isMobileMenu()">
                            <a>
                                <p (click)="logout()">Выйти&nbsp;
                                    <img src="assets/img/exit.png" alt="">
                                </p>
                            </a>
                        </li> -->
                <!-- <li class="separator hidden-lg hidden-md"></li> -->
                <!-- <p class="title_sidbar_block">Личный кабинет</p> -->
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" [routerLink]="['personal-room']">
                        <!-- <i class="{{menuItem.icon}}"></i> -->
                        <p>Личный кабинет</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" [routerLink]="['my-cleaners']">
                        <!-- <i class="{{menuItem.icon}}"></i> -->
                        <p>Мои уборки</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li *ngIf="user.role == 'customer'" style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" [routerLink]="['my-cleaning']">
                        <p>Мои специалисты</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li *ngIf="user.role == 'cleaner'" style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" [routerLink]="['my-clients']">
                        <p>Мои клиенты</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" >
                        <p>Реквизиты</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px">
                        <p>Настройки</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px">
                        <p>Вопросы</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px">
                        <p>Больше интересного</p>
                        <div class="shape"></div>
                    </a>
                </li>
                <li style="width: 100%" routerLinkActive="active">
                    <a style="padding: 10px" (click)="logout()">
                        <p>Выход</p>
                        <div class="shape"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>