<div class="col">
    <div class="col-md-4">
        <div class="sidebar-wrapper sub_menu">
            <ul class="nav responsive-nav">
                <!-- <li *ngIf="isMobileMenu()">
                            <a>
                                <p (click)="logout()">Выйти&nbsp;
                                    <img src="assets/img/exit.png" alt="">
                                </p>
                            </a>
                        </li> -->
                <!-- <li class="separator hidden-lg hidden-md"></li> -->
                <!-- <p class="title_sidbar_block">Личный кабинет</p> -->
                <li style="width: 100%" routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                    <a style="padding: 10px" [routerLink]="[menuItem.path]">
                        <i class="{{menuItem.icon}}"></i>
                        <p>{{menuItem.title}}</p>
                        <div class="shape"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>