<div class="col-12">
    <div class="col">
        <div class="row cleaning">
            <div class="col col-md-3 profile_info" *ngFor="let user of list">
                <div class="avatar">
                    <img src="assets/img/admin/camp.png" alt="">
                </div>
                <div class="body_info">
                    <h2>{{user.cleaner.name}}</h2>
                    <p>специалист по уборке</p>
                    <div>
                        <span>
                            <div class="icon"></div>
                            <p>4.9</p>
                        </span>
                        <p>Отзывов: 12</p>
                    </div>
                    <a>Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>