<div class="web_specialists_template">

    <!--start top_section-->

    <div class="top_section">
        <div class="container">
            <div class="title">
                <h1>Ищем специалистов по уборке, химчистке и ремонту. Ваша возможность - жить лучше</h1>

                <button class="main_button">Стать специалистом</button>

            </div>
        </div>

    </div>

    <!--end top_section-->


    <!--start advantages_section-->

    <div class="advantages_section">
        <div class="container">
            <h2>Преимущества Yolka</h2>
            <div class="advantages_list">
                <div class="advantages_item" *ngFor="let item of advantages_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--end advantages_section-->

    <!--start about_work_section-->

    <div class="about_work_section">
        <div class="container">
            <h2>Наши специалисты о работе</h2>
            <div class="reviews_list">
                <div class="reviews_item" *ngFor="let item of reviews_list">
                    <div>
                        <img src="{{item.img}}" alt="">
                        <h4>{{item.name}}</h4>
                        <p>{{item.position}}</p>
                    </div>
                    <div>
                        <p>{{item.reviews}}</p>
                    </div>
                </div>
            </div>
            <a href=""> Больше отзывов ></a>
        </div>
    </div>

    <!--end about_work_section-->

    <div class="application_section">
        <div class="container">
            <h2>Приложение создано для специалистов и вместе с ними</h2>
            <div class="first">
                <div class="left"></div>
                <div class="right">
                    <div class="top">
                        <div *ngFor="let item of bottom_top_list">
                            <img src="../assets/img/web/home/bottom_item_check.png" alt="">
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                    <div class="middle">
                        <a href=""><img src="../assets/img/web/header/google.png" alt=""></a>
                        <a href=""><img src="../assets/img/web/header/apple.png" alt=""></a>
                    </div>
                    <div class="bottom">
                        <h4>Получить ссылку:</h4>
                        <div><input type="number">
                            <button class="main_button">Получить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="question_section">
        <div class="container">
            <h2>Частые вопросы специалистов</h2>
            <div class="accordion_block">

                <div class="accordion" id="acc1" (click)="accordionEffect('acc1')">

                    <h2>Можно ли заказать услугу и уйти по делам, когда приедет специалист?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc2" (click)="accordionEffect('acc2')">

                    <h2>Как оформить подписку на ваши услуги?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc3" (click)="accordionEffect('acc3')">

                    <h2>Цена фиксированная?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc4" (click)="accordionEffect('acc4')">

                    <h2>Вы работаете как агрегаттор .за что ваш сервис отвечает?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <a href="">Все вопросы ></a>
            </div>
        </div>
    </div>

    <div class="security_section">
        <div class="container">
            <h2>Безопасность на заказе</h2>
            <p>Чувствуйте себя в безопасности на заказе</p>
            <div class="security_list">
                <div class="security_item" *ngFor="let item of security_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
    </div>

</div>