@import "../../../assets/sass/variable";

.web_specialists_template {
  position: relative;
  z-index: 5;
  margin-top: -30px;
  background: #FFFFFF;

  h2 {
    font: {
      weight: bold;

    }
    text-align: center;
  }

  .top_section {
    height: 500px;
    background: {
      image: url("assets/img/web/specialists/top_bg.png");
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    position: relative;

    .title {
      padding-top: 150px;
      width: 800px;
      margin-left: 80px;
      h1 {
        margin: 0;
        font: {
          family: $OpenSans;
          size: 36px;
          weight: 600;
        }
        line-height: 42px;
        color: #FFFFFF;
      }
      button {
        margin-top: 80px;
      }
    }
  }

  .advantages_section {
    .container {
      padding-top: 60px;
      padding-bottom: 40px;
      h2 {
        font: {
          weight: bold;
        }
      ;
        text-align: center;
      }
      .advantages_list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .advantages_item {
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          h4 {
            font: {
              weight: bold;
            }
          ;
          }
        }
        .advantages_item:nth-child(1) {
          h4 {
            margin-top: 14px;

          }
        }
      }
    }
  }

  .about_work_section {
    background: #F8F8F8;
    .container {
      padding: 60px 0;

      .reviews_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        .reviews_item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 800px;
          align-items: start;
          margin: 20px 0;
          div:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              border-radius: 50%;
            }
            h4 {
              margin: 10px 0 0;
              font-weight: bold;
            }
            p {
              margin: 0;
            }
          }
          div:nth-child(2) {
            max-width: 590px;
            padding: 10px;
            border-radius: 5px;
            height: auto;

            background: {
              color: #e5e5e5;
            }
          ;

          }
        }
      }
      a {
        margin: 0 auto;
        display: block;
        color: #999999;
        text-align: center;
      }
    }
  }

  .application_section {
    background: {
      color: #FFFFFF;
    }
    .container {
      width: 850px;
      .first {
        padding: 0 100px 0;
        display: flex;
        flex-direction: row;
        .left {
          background: {
            image: url(assets/img/web/home/iphone_x_mockups.png);
            repeat: no-repeat;
            size: contain;
          }
          background-size: contain;
          height: 590px;
          width: 300px;

        }
        .right {
          padding: 85px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .top {
            display: flex;
            flex-direction: column;
            div {
              display: flex;
              flex-direction: row;
              margin: 15px 0;
              p {
                line-height: 40px;
                margin: 0;
              }
            }
          }
          .middle {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img {
              height: 40px;
            }
          }
          .bottom {
            display: flex;
            flex-direction: column;
            h4 {
              font: {
                weight: bold;
                size: 32px;
              }
            ;

            }
            div {
              input {
                border-radius: 5px;
                border: 1px solid #0099D7;
              }
            }
          }
        }
      }
    }

  }

  .question_section {
    background: {
      color: #F8F8F8;
    }
  ;
    padding-top: 40px;
    .container {
      .accordion_block {
        padding: 30px 70px 60px;

        .accordion {
          transition: 1s ease-in;
          width: 100%;
          max-height: 50px;
          height: auto;
          overflow: hidden;
          margin: 15px 0 0px;
          &.active {
            max-height: 1000px !important;
            transition: .5s ease-in;
          }

          h2 {
            font: {
              size: 24px;
              weight: 200;
            }
            text-align: left;
            border-bottom: 1px solid #999999;
            margin: 0 0 20px;
            padding: 10px 15px;
          }
          p {
            padding: 0 20px;
          }

        }

        a {
          color: #999999;
          text-align: center;
          margin: 20px auto 0;
          display: block;
        }
      }
    }
  }

  .security_section {
    .container {
      p:nth-child(2) {
        font-size: 24px;
        text-align: center;
      }
      .security_list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
        .security_item {
          width: 310px;
          h4 {
            font: {
              weight: bold;
            }
          }

        }
      }
    }
  }

  .requirements_section{
    background: {
      color: #F8F8F8;
    };
    .container{
      width: 680px;
      .block{
        display: flex;
        flex-direction: row;
        margin-bottom: -2px;
        .left{
          background: {
            image: url(assets/img/web/about/third_section.png);
            repeat: no-repeat;
            size: contain;
          }
          height: 270px;
          width: 277px;
          //padding: 0 220px;;
        }
        .right{
          display: flex;
          flex-direction: column;
          justify-content: center;
          //align-items: flex-end;
padding: 0 15px;
          a{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .payments_section{
    .container{
      width: 600px;
      .block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0;
        h4{
          margin-top: 10px;
          font-weight: bold;
          text-align: center;
        }
        span{
          font-weight: bold;
        }
        button{
          margin-top: 40px;
        }
      }
    }
  }

  .business_section{
    background: {
      image: url(assets/img/web/specialists/business_section.png);
      repeat: no-repeat;
      size: cover;
      position: center;
    };
    margin-bottom: -2px;
    .container{
      width: 600px;
      padding: 50px 0;
      text-align: center;
      h2{
        color: #FFFFFF;
        font-weight: normal;
      }
      p{
        margin: 55px 0;
        color: #FFFFFF;
      }

    }
  }
  //media

  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1499px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .top_section {
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }

    }
    .question_section {
      .container {
        .accordion_block {
          .accordion {
            h2 {
              font-size: 23px;
            }
          }
        }
      }
    }

  }

  @media (min-width: 768px) and (max-width: 992px) {
    .top_section {
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
      .smile {
        margin-left: 0;
        background-image: none;
        width: inherit;
        height: inherit;
        text-align: center;
      }

    }
    .about_work_section {
      .container {
        .reviews_item {
          width: 100% !important;
          div:nth-child(2) {
            width: 500px;
          }
        }
      }
    }
    .application_section {
      .container {
        width: 750px;
        .first {
          .left {
            height: 390px;
            margin: auto 0;
            width: 205px;
          }
        }
      }
    }
    .question_section {
      .container {
        .accordion_block {
          .accordion {
            h2 {
              font-size: 17px;
              padding: 10px 5px;
            }
          }
        }
      }
    }
    .security_section {
      .container {
        .security_list {
          flex-direction: column;
          align-items: center;
          .security_item {
            width: 100%;
            padding: 20px;
            text-align: center;
          }
        }
      }
    }

  }

  @media (min-width: 540px) and (max-width: 768px) {
    .top_section {
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
    }
    .advantages_section {
      .container {
        .advantages_list {
          flex-wrap: wrap;
        }
      }
    }
    .about_work_section {
      .container {
        padding: 0 10px;
        .reviews_item {
          width: 100% !important;
          flex-direction: column !important;
          align-items: center !important;
          div:nth-child(1) {
            margin-bottom: 40px;
          }
          div:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
    .application_section {
      .container {
        width: inherit;
        .first {
          flex-direction: column;
          align-items: center;
          .right {
            padding: 20px 0;
          }
        }
      }
    }
    .question_section {
      .container {
        .accordion_block {
          background-image: none !important;
          .accordion {
            max-height: 65px !important;
            h2 {
              font-size: 20px !important;
            }
          }
        }
      }
    }
    .security_section {
      .container {
        .security_list {
          flex-direction: column;
          align-items: center;
          .security_item {
            width: 100%;
            padding: 20px;
            text-align: center;
          }
        }
      }
    }
    .requirements_section{
      .container{
        width: 400px;
        .block{
          text-align: center;
          padding: 50px 0;
          .left{
            display: none;
          }
        }
      }
    }
    .payments_section{
      .container{
        width: 100%;
        .block{
          flex-wrap: wrap;
          justify-content: space-around;

        }
      }
    }
    .business_section {
      .container {
        width: 500px;
      }
    }
  }

  @media (max-width: 540px) {
    .top_section {
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
        h1 {
          font-size: 20px;
          line-height: 28px;
        }
      }

    }
    .advantages_section {
      .container {
        .advantages_list {
          flex-wrap: wrap;
        }
      }
    }
    .about_work_section {
      .container {
        padding: 0 10px;
        .reviews_item {
          width: 100% !important;
          flex-direction: column !important;
          align-items: center !important;
          div:nth-child(1) {
            margin-bottom: 40px;
          }
          div:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
    .application_section {
      .container {
        width: inherit;
        .first {
          flex-direction: column;
          align-items: center;
          .left {
            height: 270px;
            width: 150px;
          }
          .right {
            padding: 20px 0;
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
    .question_section {
      .container {
        .accordion_block {
          padding: 0 0 60px !important;
          background-image: none !important;
          .accordion {
            max-height: 60px !important;
            h2 {
              font-size: 15px !important;
            }
          }
        }
      }
    }
    .security_section {
      .container {
        .security_list {
          flex-direction: column;
          align-items: center;
          .security_item {
            width: 100%;
            padding: 20px;
            text-align: center;
          }
        }
      }
    }
    .requirements_section{
      .container{
        width: 100%;
        .block{
          text-align: center;
          padding: 50px 0;
          .left{
            display: none;
          }
        }
      }
    }
    .payments_section {
      .container{
        width: 100%;
        .block{
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          .right{
            display: flex;
            flex-direction: column;
          }
          button{
            margin: 30px auto 0;
            align-self: center;
          }

        }
      }
    }
    .business_section {
      .container {
        width: 100%;
      }
    }
  }

}