<div class="web_specialists_template">

    <!--start top_section-->

    <div class="top_section">
        <div class="container">
            <div class="title">
                <h1>Ищем специалистов по уборке, химчистке и ремонту. Ваша возможность - жить лучше</h1>

                <button class="main_button">Стать специалистом</button>

            </div>
        </div>

    </div>

    <!--end top_section-->


    <!--start advantages_section-->

    <div class="advantages_section">
        <div class="container">
            <h2>Преимущества Yolka</h2>
            <div class="advantages_list"></div>
        </div>
    </div>

    <!--end advantages_section-->

</div>