<div class="web_header">
    <div class="top">
        <div class="container">

            <div class="header_site_logo">
                <a routerLink="./home" class="main-title ">
                    <img src="../assets/img/web/header/Logo_header.png" alt="">
                </a>
            </div>

            <div class="header_site_social">
                <a href="">
                    <i class="fab fa-vk"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-viber"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
            <div class="header_site_sity">
                <span>ваш город</span>
                <!--(click)=""-->
                <!--<ul class="header_sity_block_list">-->
                <!--<li>Москва</li>-->
                <!--<li>Санкт-Петербург</li>-->
                <!--<li>Рязань</li>-->
                <!--</ul>-->
            </div>
            <div style="flex: 30"></div>
            <div class="header_site_phone">
                <a href="tel:8 800 600 04 03">
                    <i class="fas fa-phone"></i>8 800 600 04 03</a>
                <a href="">заказать звонок ></a>
            </div>
            <div class="header_site_download">
                <a href="">
                    <img src="../assets/img/web/header/google.png" alt="">
                </a>
                <a href="">
                    <img src="../assets/img/web/header/apple.png" alt="">
                </a>
            </div>
            <div class="header_site_wrapper_open">
                <button class="main_button" (click)="headerWrapperOpen()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header_site_wrapper">
                <div class="wrapper_nav">
                    <a routerLink="./about">о сервисе</a>
                    <a routerLink="./specialists">для специалистов</a>
                    <a href="">магазин</a>
                    <a href="">помощь</a>
                    <a href="">услуги</a>
                    <a *ngIf="!change" [routerLink]="['./login']">войти</a>
                    <a *ngIf="change" [routerLink]="['./admin/personal-room']">личный кабинет</a>
                </div>
                <div class="wrapper_bottom">
                    <div class="wrapper_social">
                        <a href="">
                            <i class="fab fa-vk"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-viber"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                    <div class="wrapper_sity">
                        <span>ваш город</span>
                    </div>
                    <div class="wrapper_phone">
                        <a href="tel:8 800 600 04 03">
                            <i class="fas fa-phone"></i>8 800 600 04 03</a>
                        <a href="">заказать звонок ></a>
                    </div>
                    <div class="wrapper_download">
                        <a href="">
                            <img src="../assets/img/web/header/google.png" alt="">
                        </a>
                        <a href="">
                            <img src="../assets/img/web/header/apple.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="wrapper_close">
                    <button class="main_button" (click)="headerWrapperClose()">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="sub_header">
        <div class="container">
            <a routerLink="./about">о сервисе</a>
            <a routerLink="./specialists">для специалистов</a>
            <a href="">магазин</a>
            <a href="">помощь</a>
            <a href="">услуги</a>
            <a *ngIf="!change" [routerLink]="['./login']">войти</a>
            <a *ngIf="change" [routerLink]="['./admin/personal-room']">личный кабинет</a>
        </div>

    </div>
</div>