<div class="web_header">
    <div class="container">
        <div class="header-site-content">
            <div class="header-site-content-logo">
                <a ui-sref="home" class="main-title ">
                    <img src="content/img/logo_nav_bar.png" alt="">
                </a>
            </div>
            <div class="header-site-content-menu">
                <ul>
                    <li><a href="" >trading</a>
                    </li>
                    <li><a href="" >investments</a>
                    </li>
                    <li><a href="" >competitions</a>
                    </li>
                    <li><a href="" >partners</a>

                    </li>
                    <li><a href="" >about</a>
                    </li>
                </ul>
            </div>
            <div class="header_wrapper">
                <div class="header_wrapper_block" layout="column" layout-align="center space-between">
                    <div class="header-site-content-menu">
                        <ul layout="column">
                            <li><a href="" >trading</a>
                            </li>
                            <li><a href="" >investments</a>
                            </li>
                            <li><a href="" >competitions</a>
                            </li>
                            <li><a href="" >partners</a>

                            </li>
                            <li><a href="" >about</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header_wrapper_bottom">

                    </div>
                </div>
                <div class="header_wrapper_close">
                    <button class="main_button" ng-click="vm.headerWrapperClose()"><i class="fas fa-times"></i></button>
                </div>

            </div>
            <div class="header_wrapper_open">
                <button class="main_button" ng-click="vm.headerWrapperOpen()"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>

</div>