<div class="col-12">
    <div class="col">
        <div class="row cleaning">
            <div class="col col-sm-6 timer_block">
                <div>
                    <p>Ближайшая уборка начнется через:</p>
                    <h2>01:23:42</h2>
                </div>
                <div>
                    <p>Адрес:</p>
                    <h2>ул. Мира д.23 кв 12</h2>
                </div>
                <div>
                    <p>Клиент:</p>
                    <h2>Татьяна Николаевна</h2>
                </div>
                <button>Связаться</button>
            </div>
        </div>
    </div>
</div>