@import "../../../assets/sass/variable";
//@import "../../../assets/sass/components";

.web_home_template {
  position: relative;
  z-index: 5;
  margin-top: -30px;
  background: #FFFFFF;

  .top_section {
    min-height: 450px;
    max-height: 750px;
    height: calc(100vh - 170px);
    background: {
      image: url("assets/img/web/home/top_bg.png");
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    position: relative;

    .title {
      padding-top: 150px;
      width: 535px;
      margin-left: 80px;
      h1 {
        margin: 0;
        font: {
          family: $OpenSans;
          size: 36px;
          weight: 600;
        }
        line-height: 42px;
        color: #FFFFFF;
      }
    }
    .smile {
      margin-left: 70px;
      position: absolute;
      bottom: 15px;
      width: 300px;
      height: 200px;
      background: {
        image: url("assets/img/web/home/top_section_img.png");
        repeat: no-repeat;
      }
    ;
      display: flex;
      justify-content: center;
      align-items: center;
      .main_button {
        max-width: 174px;
      }
    }

  ;
  }

  //.top_section:after{
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background: rgba(0,0,0,.1);
  //}

  .advantage_section {
    width: 100%;
    background: #FFFFFF;
    //margin-top: -60px;
    .first {
      .container {
        display: flex;
        flex-direction: row;
        div {
          box-sizing: border-box;
          height: 425px;
          width: 285px;
          margin: 35px 16px 0;
          padding: 0 35px 0;
          background: {
            image: url(assets/img/web/home/Group_3.png);
            size: cover;

          }
          h4 {
            font: {
              weight: bold;
            }
          ;
            margin-top: -15px;
            margin-bottom: 30px;
            padding-right: 30px;
          }
          p {
            font: {
              size: 15px;
            }
          ;
          }
          a {
            text-decoration: underline;
          }
          img {
            margin: 25px 8px 0;
          }
        }
        div:nth-child(1) {
          position: relative;
          margin-top: -20px;
          height: 480px;
          width: 280px;
          padding-top: 57px;
          background: {
            image: url("assets/img/web/home/Group_2.png");
            position: bottom;
          }
          img {
            width: 175px;
            margin: -27px 20px 0;
          }
        }
      }
    }
    .second {
      background: {
        image: url(assets/img/web/home/advantage_section_bottom.png);
        repeat: no-repeat;
        size: 100%;
        position: bottom;
      }
    ;
      height: auto;
      width: 990px;
      margin: -10px auto 0;
      h3 {
        margin: 0;
        text-align: center;
        padding-top: 70px;
        font: {
          weight: bold;
        }
      ;
      }
      .choose {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0 60px;
        flex-wrap: wrap;
        .choose_item {
          width: 215px;
          height: 215px;
          box-sizing: border-box;
          //margin: 5px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
          display: flex;
          flex-direction: column;
          //justify-content: center;
          align-content: space-between;
          padding: 0 7.5px;
          margin: 130px 5px 5px;
          img {
            height: 200px;
            width: 200px;
            margin: -105px auto 0;
          }
          h4 {
            text-align: center;
            margin: 14px 0;
            text-transform: uppercase;
            font-size: 19px;
            font-weight: bold;
          }

          .main_button {
            padding: 10px;
            svg {
              font-size: 20px;
              height: 25px;
              margin: -5px 0;
            }

          }
        }
      }
      p {
        width: 600px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 170px;
      }

    }
  }

  .third_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //margin-top: -10px;
    max-width: 1500px;
    margin: -10px auto;
    .left {
      width: 40%;
      display: flex;
      flex-direction: row;
      div:nth-child(1) {
        background: {
          image: url(assets/img/web/home/third_section_img.png);
        }
        width: 152px;
        height: 152px;
      }
      div:nth-child(2) {
        width: 70%;
        h4 {
          margin: 0 0 5px;
          font: {
            weight: bold;
          }
        ;
        }
        p {
          font-size: 15px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
    .middle {
      background: {
        image: url(assets/img/web/home/third_section.png);

      }
    ;
      height: 100%;
      width: 30px;
      padding-bottom: 110px;
    }
    .right {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      h4 {
        margin: 20px 0 10px;
        font: {
          weight: bold;
        }

      }
      a{
        text-decoration: underline;
      }

    }
  }

  .how_works_section {
    background: {
      image: url(assets/img/web/home/how_works_section.png);
      repeat: no-repeat;
      size: 100%;
    }
    height: auto;
    margin: 0 auto;
    width: 990px;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-content: center;
    .how_works {
      padding-top: 150px;
      margin: 0 auto;
      h2 {
        text-align: center;
        font: {
          weight: bold;
        }
      ;
        margin-bottom: 40px;
      }
      div:nth-child(2) {
        width: 700px;
        height: 100px;
        background: {
          image: url("assets/img/web/home/how_works.png");
          size: cover;
          repeat: no-repeat;
        }
      ;
      }
      div:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          width: 125px;
          font-size: 14px;
          line-height: 16px;
          margin-right: 25px;
          margin-top: 10px;
        }
        p:nth-child(5) {
          margin: 0;
        }
      }
      a {
        text-align: center;
        text-decoration: underline;
        margin: 20px auto 0;
        display: block;

      }
    }
    .faq {
      margin-top: 100px;
      h2 {
        font: {
          weight: bold;
        }
      ;
        text-align: center;
      }
      .accordion_block {
        background: {
          image: url(assets/img/web/home/how_works_accordion.png);
          size: 100%;
        }
      ;
        padding: 0 70px 60px;

        .accordion {
          transition: 1s ease-in;
          width: 100%;
          max-height: 50px;
          height: auto;
          overflow: hidden;
          margin: 15px 0 0px;
          &.active {
            max-height: 1000px !important;
            transition: .5s ease-in;
          }

          h2 {
            font: {
              size: 24px;
              weight: 200;
            }
            text-align: left;
            border-bottom: 1px solid #999999;
            margin: 0 0 20px;
            padding: 10px 15px;
          }
          p {
            padding: 0 20px;
          }

        }

        a {
          color: #999999;
          text-align: center;
          margin: 20px auto 0;
          display: block;
        }
      }
    }
    .after {
      background: {
        image: url(assets/img/web/home/after_how_works.png);
        repeat: no-repeat;
        size: cover;
      }
      height: 700px;
      margin: 0 auto;
      width: 990px;
      position: relative;
      .left_block {
        position: absolute;
        right: -136px;
        top: -20px;
        width: 298px;
        height: 352px;
        background: {
          image: url(assets/img/web/home/Group_4.png);
          size: cover;
        }
      ;
        padding: 45px 54px;
        text-align: center;
        h3 {
          text-transform: uppercase;
          color: #0099D7;
          font: {
            weight: bold;
            size: 34px;
          }
        ;
        }
        p {
          margin: 30px 0;
        }

      }
    }

  }

  .partners_section {

    height: auto;
    margin: 0 auto;
    width: 990px;
    margin-top: -500px;
    h2 {
      font: {
        weight: bold;
      }
    ;
      text-align: center;
    }
    .partners {
      padding: 150px 100px;
      text-align: center;
      background: {
        image: url(assets/img/web/home/feedback.png);
        repeat: no-repeat;
        size: 100%;
      }
      p {
        color: #999999;
      }
      .employee {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .employee_item {
          border-radius: 4px;
          width: 180px;
          height: 260px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
          padding: 20px;
          margin-top: 150px;
          img {
            height: 136px;
            width: 136px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
            border-radius: 68px;
            margin-top: -100px;
          }
          h4 {
            font: {
              size: 15px;
              weight: bold;
            }
            margin: 10px 0 0;
          }
          span {
            color: #999999;
          }
          div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p {
              font-size: 14px;
              svg {
                color: #EF5350;
                margin-right: 5px;
              }
            }
            p:nth-child(1) {
              border: 1px solid #999999;
              border-radius: 5px;
              padding: 5px;
            }
            p:nth-child(2) {
              line-height: 30px;
            }
          }
        }

      }
    }
    .feedback {
      background: {
        image: url(assets/img/web/home/how_works_accordion.png);
        size: 100% calc(100% - 200px);
        repeat: no-repeat;
      }
      padding: 40px 100px;
      margin-top: -20px;
      z-index: 2;
    }
    .bottom {
      background: {
        image: url(assets/img/web/home/feedback_bottom.png);
        repeat: no-repeat;
        size: 100%;
      }
      z-index: 1;
      padding: 350px 0 100px;
      margin-top: -201px;
      .main_button {
        text-transform: uppercase;
        max-width: 170px;
        margin: 0 auto;
      }

    }

  }

  .yolka_for_section {
    h2 {
      font: {
        weight: bold;
      }
    ;
      text-align: center;
    }
    .container {
      .for {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .for_list {
          width: 300px;
          height: 380px;
          padding: 20px;
          h4 {
            font: {
              weight: bold;
            }
            margin: 10px 0;
          }
          p {
            font-size: 14px;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom_section {
    background: {
      image: url(assets/img/web/home/bottom_section.png);
      repeat: no-repeat;
      size: 100%;
    }
    height: auto;
    margin: 0 auto;
    width: 990px;
    padding: 150px 0 0;
    h2 {
      font: {
        weight: bold;
      }
    ;
      text-align: center;
    }
    .first {
      padding: 0 100px 0;
      display: flex;
      flex-direction: row;
      .left {
        background: {
          image: url(assets/img/web/home/iphone_x_mockups.png);
          repeat: no-repeat;
        }
      ;
        height: 740px;
        width: 430px;
      }
      .right {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .top {
          display: flex;
          flex-direction: column;
          div {
            display: flex;
            flex-direction: row;
            margin: 15px 0;
            p {
              line-height: 40px;
              margin: 0;
            }
          }
        }
        .middle {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          img {
            height: 40px;
          }
        }
        .bottom {
          display: flex;
          flex-direction: column;
          h4 {
            font: {
              weight: bold;
              size: 32px;
            }
          ;

          }
          div {
            input {
              border-radius: 5px;
              border: 1px solid #0099D7;
            }
          }
        }
      }
    }
    .second {
      background: {
        color: #F8F8F8;
      }
    ;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 50px 40px;
      margin: 0 28px;
      div {
        text-align: center;
        width: 28%;
        p {
          font-size: 14px;

        }
      }

    }
    .third {
      background: {
        color: #99999926;
      }
    ;
      margin: 0 28px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .left {
        background: {
          image: url(assets/img/web/home/Pahomov.png);
          repeat: no-repeat;
        }
        height: 415px;
        width: 280px;
      }
      .right {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        position: relative;
        h3 {
          font-weight: bold;
        }
        span {
          color: #999999;
          width: 205px;
          display: block;

        }
        .social {
          width: 70px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          svg {
            font-size: 19px;
            color: #999999;
          }
        }
        img {
          position: absolute;
          right: 0;
          bottom: 20px;
        }
      }
    }
  }
  //media

  @media (min-width: 1400px) {
    .advantage_section {
      .first {
        .container {
          width: 1300px;

          //div:nth-child(2),
          //div:nth-child(3),
          //div:nth-child(4) {
          //  margin-top: -65px !important;
          //  h4{
          //    color: #FFFFFF;
          //    font-weight: 200;
          //  }
          //}
        }
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    .top_section {
      .smile {
        margin-left: 120px;
      }
    }
    .advantage_section {
      .first {
        .container {
          div {
            margin: 35px 3px 0;

          }
        }
      }
      .second {
        width: 915px;
        padding: 0 30px;
        background-size: 100%;
        .choose {
          .choose_item {
            margin: 130px 40px 0px;
          }

        }
      }
    }
    .third_section {
      max-width: 1170px;
      .left {
        div:nth-child(2) {
          p {
            font-size: 14px;
          }
        }

      }
      .middle {
        padding-bottom: 130px;
      }
    }
    .how_works_section {
      width: 920px;
      .faq {
        .accordion_block {
          .accordion {
            h2 {
              font-size: 22px;
            }
          }
        }
      }
      .after {
        .left_block {
          right: -62px;
        }
      }
    }
    .partners_section {
      width: 915px;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .top_section {
      height: 520px;
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
      .smile {
        margin-left: 0;
        background-image: none;
        width: inherit;
        height: inherit;
        text-align: center;
        position: inherit;
        margin-top: 30px;
      }

    }
    .advantage_section {
      .first {
        .container {
          div {
            background-image: none !important;
            padding: 0 !important;
            height: 425px !important;
            width: 285px !important;
            margin: 35px 13px 0 !important;
          }
        }
      }
      .second {
        background-image: none;
      }
    }
    .third_section {
      .middle {
        background-image: none;
      }
    }
    .how_works_section {
      background-image: none;
      .accordion_block {
        background-image: none !important;
      }
      .after {
        background-image: none;
        .left_block {
          right: 50%;
          margin-right: -149px;
        }
      }
    }
    .partners_section {
      .partners {
        background-image: none;
      }
      .feedback {
        background-image: none;
      }
      .bottom {
        background-image: none;
      }
    }
    .bottom_section {
      background-image: none;
      width: 100%;
      .second,
      .third {
        margin: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .top_section {
      height: 520px;
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
      .smile {
        margin-left: 0;
        background-image: none;
        width: inherit;
        height: inherit;
        text-align: center;
        position: inherit;
        margin-top: 30px;
      }
    }
    .advantage_section {
      .first {
        .container {
          flex-wrap: wrap;
          justify-content: center;
          div {
            background-image: none !important;
            padding: 0 !important;
            height: 425px !important;
            width: 285px !important;
            margin: 35px 13px 0 !important;
          }
        }
      }
      .second {
        width: inherit;
        background-image: none;
        .choose {
          .choose_item {
            margin: 130px 40px 0px;
          }

        }
      }
    }
    .third_section {
      .middle {
        background-image: none;
      }
    }
    .how_works_section {
      background-image: none;
      width: inherit;
      .accordion_block {
        background-image: none !important;
      }
      .after {
        background-image: none;
        width: 100%;
        .left_block {
          right: 50%;
          margin-right: -149px;
        }
      }
    }
    .partners_section {
      width: inherit;
      .partners {
        background-image: none;
        padding-bottom: 50px;
        .employee {
          flex-wrap: wrap;
          justify-content: space-around;
          .employee_item {
            margin: 120px 40px 0;
          }
        }
      }
      .feedback {
        background-image: none;
      }
      .bottom {
        background-image: none;
        padding-top: 200px;
      }
    }
    .bottom_section {
      background-image: none;
      width: 100%;
      .second,
      .third {
        margin: 0;
      }
      .first {
        flex-direction: column;
        align-items: center;
        .right {
          padding: 20px 0;
        }
      }
      .third {
        .right {

          h3 {
            font-size: 27px;
          }
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .top_section {
      height: 520px;
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
      .smile {
        margin-left: 0;
        background-image: none;
        width: inherit;
        height: inherit;
        text-align: center;
        position: inherit;
        margin-top: 30px;
      }

    }
    .advantage_section {
      .first {
        .container {
          flex-wrap: wrap;
          justify-content: center;
          div {
            background-image: none !important;
            padding: 0 !important;
            height: 425px !important;
            width: 220px !important;
            margin: 35px 13px 0 !important;
            text-align: center;
          }
        }
      }
      .second {
        width: inherit;
        background-image: none;
        .choose {
          .choose_item {
            margin: 130px 20px 0px;
          }

        }
        p {
          width: 100%;
          padding: 0 30px 60px;
        }
      }
    }
    .third_section {
      flex-direction: column;
      justify-content: space-around;
      .middle {
        background-image: none;
        display: none;
      }
      .left, .right {
        width: 100%;
      }
      .right {
        align-items: center;
        text-align: center;
        div {
          margin: 0 auto;
        }
      }

    }
    .how_works_section {
      background-image: none;
      width: inherit;
      .how_works {
        div:nth-child(2) {
          width: 530px;
          background: {
            size: 100%;
          }
        ;
          margin: 0 auto;
        }
        div:nth-child(3) {
          p {
            width: 90px;
            margin-right: 9px;
          }
        }
      }
      .accordion_block {
        background-image: none !important;
        .accordion {
          max-height: 65px !important;
          h2 {
            font-size: 20px !important;
          }
        }
      }
      .after {
        background-image: none;
        width: 100%;
        .left_block {
          right: 50%;
          margin-right: -149px;
        }
      }
    }
    .partners_section {
      width: inherit;
      .partners {
        background-image: none;
        padding-bottom: 50px;
        .employee {
          flex-wrap: wrap;
          justify-content: space-around;
          .employee_item {
            margin: 120px 40px 0;
          }
        }
      }
      .feedback {
        background-image: none;
      }
      .bottom {
        background-image: none;
        padding-top: 200px;
      }
    }
    .bottom_section {
      background-image: none;
      width: 100%;
      .second,
      .third {
        margin: 0;
      }
      .first {
        flex-direction: column;
        align-items: center;
        .right {
          padding: 20px 0;
        }
      }
      .second {
        flex-direction: column;
        align-items: center;
        div {
          width: 80%;
        }
      }
      .third {
        .right {

          h3 {
            font-size: 27px;
          }
          img {
            right: 0px;
            bottom: 0px;
          }
        }
      }
    }
  }

  @media (max-width: 540px) {
    .top_section {
      height: 450px;
      .title {
        width: inherit;
        margin-left: inherit;
        text-align: center;
      }
      .smile {
        margin-left: 0;
        background-image: none;
        width: inherit;
        height: inherit;
        text-align: center;
        position: inherit;
        margin-top: 30px;
      }

    }
    .advantage_section {
      .first {
        .container {
          flex-wrap: wrap;
          justify-content: center;
          div {
            background-image: none !important;
            padding: 0 !important;
            height: 425px !important;
            width: 220px !important;
            margin: 15px 13px 0 !important;
            text-align: center;
            h4 {
              padding: 0;
            }
          }
        }
      }
      .second {
        width: inherit;
        background-image: none;
        .choose {
          .choose_item {
            margin: 130px 20px 0px;
          }

        }
        p {
          width: 100%;
          padding: 0 30px 60px;
        }
      }
    }
    .third_section {
      flex-direction: column;
      justify-content: space-around;
      .middle {
        background-image: none;
        display: none;
      }
      .left, .right {
        width: 100%;
      }
      .right {
        align-items: center;
        text-align: center;
        div {
          margin: 0 auto;
        }
      }
      .left {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

    }
    .how_works_section {
      background-image: none;
      width: inherit;
      .how_works {
        display: none;
      }
      .accordion_block {
        padding: 0 0 60px !important;
        background-image: none !important;
        .accordion {
          max-height: 65px !important;
          h2 {
            font-size: 17px !important;
          }
        }
      }
      .after {
        background-image: none;
        width: 100%;
        .left_block {
          right: 50%;
          margin-right: -149px;
        }
      }
    }
    .partners_section {
      width: inherit;
      .partners {
        background-image: none;
        //padding-bottom: 50px;
        padding: 150px 0 50px;
        .employee {
          flex-wrap: wrap;
          justify-content: space-around;
          .employee_item {
            margin: 120px 40px 0;
          }
        }
      }
      .feedback {
        background-image: none;
      }
      .bottom {
        background-image: none;
        padding-top: 200px;
      }
    }
    .yolka_for_section {
      .container {
        .for {
          flex-direction: column;
          .for_list {
            text-align: center;
          }
        }
      }

    }
    .bottom_section {
      background-image: none;
      width: 100%;
      padding: 0;
      .second,
      .third {
        margin: 0;
      }
      .first {
        flex-direction: column;
        align-items: center;
        padding: 0;
        .left {
          background-size: contain;
          height: 220px;
          width: 120px;
        }
        .right {
          padding: 20px 0;
          .top {
            div {
              p {
                line-height: inherit;
              }
            }
          }
          .middle {
            flex-direction: column;
            align-items: center;
            a {
              margin: 10px;
            }
          }
          .bottom {
            text-align: center;
          }
        }
      }
      .second {
        flex-direction: column;
        align-items: center;
        div {
          width: 80%;
        }
      }
      .third {
        .left {
          display: none;
        }
        .right {
          width: 100%;
          padding: 50px 30px;

          h3 {
            font-size: 27px;
          }
          img {
            display: none;
          }
        }
      }
    }
  }

}