<div class="web_home_template">

    <!--start top_section-->

    <div class="top_section">
        <div class="container">
            <div class="title">
                <h1> Решите все домашние дела - в 3 клика.</h1>
            </div>
            <div class="smile">
                <button class="main_button" (click)="openModal()">Выбрать специалиста</button>
            </div>
        </div>

    </div>

    <!--end top_section-->


    <!--start advantage_section-->

    <div class="advantage_section">
        <div class="first">
            <div class="container">
                <div>
                    <h4>Работаем без комиссии</h4>
                    <p>Мы связываем вас напрямую со специалистом и берём комиссию только с партнёра. Так же после успешно выполненного заказа, сумма заказа
                        списывается с Вашей карты.</p>
                    <a href="">Как это происходит?</a>
                    <img src="../assets/img/web/home/advantage_item1.png" alt="">
                </div>
                <div>
                    <h4>Быстро переделаем</h4>
                    <p>Если вам не понравилась услуга нашего партнёра - мы вернём вам деньги или быстро всё исправим.</p>
                    <a href="">Подробнее</a>
                    <img src="../assets/img/web/home/advantage_item2.png" alt="">
                </div>
                <div>
                    <h4>Страхование и ответственность</h4>
                    <p>Если что то пойдет не по плану, мы возместим ущерб из собственного резервного фонда.</p>
                    <a href="">О безопасности</a>
                    <img src="../assets/img/web/home/advantage_item3.png" alt="">
                </div>
                <div>
                    <h4>Управление онлайн</h4>
                    <p>Добавить, отменить, перенести и даже оставить отзыв теперь можно в личном кабинете или
                        приложении.</p>
                    <a href="">Инструкция</a>
                    <img src="../assets/img/web/home/advantage_item4.png" alt="">
                </div>
            </div>
        </div>
        <div class="second">
            <h3>Наши услуги</h3>
            <div class="choose">
                <div class="choose_item" *ngFor="let item of advantage_choose_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <button class="main_button">Выбрать специалиста <i class="fas fa-angle-right"></i></button>
                </div>
            </div>

            <p>Всё началось с сумасшедшей мысли: "Зачем конкурировать с 1000-ю компаниями и частными уборщицами?" Когда
                можно создать собственный институт чистоты! Обучать через него всех проверенных специалистов, и размещая
                их на нашей платформе для того, чтобы люди могли зарабатывать на прямую, честно и без посредников. А
                наша платформа будет извлекать небольшой процент за сохранность и ответственность вашего имущества,
                обучение специалистов, и собственно обеспечение вам и Исполнителю быстрой и легкой связи с друг другом.
                Всего вам чистого!</p>
        </div>

    </div>

    <!--end advantage_section-->


    <!--start third_section-->

    <div class="third_section">
        <div class="left">
            <div></div>
            <div>
                <h4>Безопасность и качество. </h4>
                <p>Мы стремимся обеспечить вашу безопасность до, во время и после каждой уборки. Поэтому мы непрерывно
                    развиваем технологию, которая изо дня в день помогает повысить безопасность миллионов уборок и
                    прочих наших услуг.</p>
                <a href="">Подробнее</a>
            </div>
        </div>
        <div class="middle"></div>
        <div class="right">
            <div><h4>Узнать стоимость услуги.</h4></div>
            <div>
                <input type="text">
                <button class="main_button">узнать</button>
            </div>
        </div>

    </div>

    <!--end third_section-->


    <!--start how_works_section-->

    <div class="how_works_section">
        <div class="how_works">
            <h2>Как работает YOLKA</h2>
            <div></div>
            <div>
                <p>Выбираете нужную услугу.</p>
                <p>Выбираете понравившегося вам спецуиалиста. Оцениваете его по отзывам и портфолио.</p>
                <p>Выбираете удобную дату и время, оформляете и подверждаете заказ.</p>
                <p>Встречаете специалиста. Теперь можно заниматься своими делами</p>
                <p>Оставляете отзыв о специалисте и принимаете работу.</p>
            </div>
            <a href="">Подробнее о том, как работает Yolka</a>
        </div>
        <div class="faq">
            <h2>Часто задаваемые вопросы</h2>
            <div class="accordion_block">

                <div class="accordion" id="acc1" (click)="accordionEffect('acc1')">

                    <h2>Можно ли заказать услугу и уйти по делам, когда приедет специалист?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc2" (click)="accordionEffect('acc2')">

                    <h2>Как оформить подписку на ваши услуги?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc3" (click)="accordionEffect('acc3')">

                    <h2>Цена фиксированная?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <div class="accordion" id="acc4" (click)="accordionEffect('acc4')">

                    <h2>Вы работаете как агрегаттор .за что ваш сервис отвечает?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius eos fugit iure laudantium
                        molestias necessitatibus provident quae quod. Dignissimos dolorem esse facere harum nesciunt
                        nobis similique veniam vitae? Vel.</p>
                </div>
                <a href="">Все вопросы ></a>
            </div>
        </div>
        <div class="after">
            <div class="left_block">
                <h3>ура!</h3>
                <p>До вашего первого заказа с Yolka осталось не сколько минут!</p>
                <button class="main_button">Войти</button>
            </div>
        </div>

    </div>

    <!--end how_works_section-->

    <!--start partners_section-->

    <div class="partners_section">
        <div class="partners">
            <h2>Надежные патрнеры YOLKA</h2>
            <p>Лучшие специалисты августа 2018</p>
            <div class="employee">
                <div class="employee_item" *ngFor="let item of employee_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <span>{{item.position}}</span>
                    <div>
                        <p><i class="fas fa-heart"></i>{{item.rating}}</p>
                        <p>{{item.reviews}}</p></div>
                    <button class="main_button">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="feedback">
            <h2>Oтзывы клиентов</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate error explicabo illo labore
                odio optio quasi quo, sint sunt. Animi debitis dolore facilis ipsa iste, reiciendis vitae. Beatae,
                dolorum!lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus consectetur corporis
                cumque cupiditate, dicta esse facere incidunt, ipsa laborum maxime possimus quas quasi quidem ratione
                recusandae sed velit voluptatibus!lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                earum laborum obcaecati ratione saepe vitae voluptates? Ad aperiam distinctio dolorum explicabo nemo
                nobis nostrum officia, quaerat quod sunt vitae voluptas. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ad amet consectetur consequatur culpa dicta ea est explicabo fugiat hic labore, magni
                modi mollitia necessitatibus nesciunt nobis officia perferendis veritatis vero! Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Assumenda consequuntur dolorem esse excepturi, id itaque odit
                officiis saepe tempore vero. Consequuntur dicta, molestiae nulla pariatur repellendus reprehenderit
                velit veniam voluptate. </p>
        </div>
        <div class="bottom">
            <div class="main_button">выбрать специалиста</div>
        </div>
    </div>

    <!--end partners_section-->

    <!--start yolka_for_section-->

    <div class="yolka_for_section">
        <div class="container">
            <h2>Дополнительные возможности</h2>
            <div class="for">
                <div class="for_list" *ngFor="let item of for_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <p>{{item.text}}</p>
                    <a href="">{{item.link}}</a>
                </div>
            </div>
        </div>
    </div>

    <!--end yolka_for_section-->

    <!--start bottom_section-->

    <div class="bottom_section">
        <h2>С приложением удобнее!</h2>
        <div class="first">
            <div class="left"></div>
            <div class="right">
                <div class="top">
                    <div *ngFor="let item of bottom_top_list">
                        <img src="../assets/img/web/home/bottom_item_check.png" alt="">
                        <p>{{item.text}}</p>
                    </div>
                </div>
                <div class="middle">
                    <a href=""><img src="../assets/img/web/header/google.png" alt=""></a>
                    <a href=""><img src="../assets/img/web/header/apple.png" alt=""></a>
                </div>
                <div class="bottom">
                    <h4>Получить ссылку:</h4>
                    <div><input type="number">
                        <button class="main_button">Получить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="second">
            <div *ngFor="let item of bottom_middle_list ">
                <img src="{{item.img}}" alt="">
                <p>{{item.text}}</p>
            </div>
        </div>
        <div class="third">
            <div class="left"></div>
            <div class="right">
                <h3>Лично гарантирую качество !</h3>
                <p>Я отвечаю за качество всех наших специалистов. В случаи чего все знают, что любой клиент сразу может написать мне. Открытость - позволила мне и моей команде построить Эко-систему которой мы можем гордиться.</p>
                <span>Пахомов Дмитрий Евгеньевич. Сооснователь Yolka Home.</span>
                <div class="social">
                    <a href=""><i class="fab fa-vk"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-viber"></i></a>
                </div>
                <img src="../assets/img/web/home/signature.png" alt="">
            </div>
        </div>
    </div>

    <!--end bottom_section-->

</div>