<div class="web_home_template">

    <!--start top_section-->

    <div class="top_section">
        <div class="container">
            <div class="title">
                <h1>Выбирайте сами проверенных специалистов для домашних дел.</h1>
            </div>
            <div class="smile">
                <button class="main_button" (click)="openModal()">Выбрать специалиста</button>
            </div>
        </div>

    </div>

    <!--end top_section-->


    <!--start advantage_section-->

    <div class="advantage_section">
        <div class="first">
            <div class="container">
                <div>
                    <h4>Работаем без комиссии</h4>
                    <p>Мы связываем Вас напрямую со специалистом. Так же после успешно выполненного заказа, сумма заказа
                        списывается с Вашей карты.</p>
                    <a href="">Как это происходит?</a>
                    <img src="../assets/img/web/home/advantage_item1.png" alt="">
                </div>
                <div>
                    <h4>Быстро переделаем</h4>
                    <p>Если вам не понравилась уборка специалиста - мы вернем вам деньги или бысто пределаем данную
                        уборку.</p>
                    <a href="">Подробнее</a>
                    <img src="../assets/img/web/home/advantage_item2.png" alt="">
                </div>
                <div>
                    <h4>Страхование и ответственность</h4>
                    <p>Если что то пойдет не по плану, мы возместим ущерб из собственного резервного фонда.</p>
                    <a href="">О безопасности</a>
                    <img src="../assets/img/web/home/advantage_item3.png" alt="">
                </div>
                <div>
                    <h4>Управление онлайн</h4>
                    <p>Добавить, отменить, перенести и даже оставить отзыв теперь можно в личном кабинете или
                        приложении.</p>
                    <a href="">Инструкция</a>
                    <img src="../assets/img/web/home/advantage_item4.png" alt="">
                </div>
            </div>
        </div>
        <div class="second">
            <h3>Наши услуги</h3>
            <div class="choose">
                <div class="choose_item" *ngFor="let item of advantage_choose_list">
                    <img src="{{item.img}}" alt="">
                    <h4>{{item.title}}</h4>
                    <button class="main_button">Выбрать специалиста <i class="fas fa-angle-right"></i></button>
                </div>
            </div>

            <p>Всё началось с сумасшедшей мысли: "Зачем конкурировать с 1000-ю компаниями и частными уборщицами?" Когда
                можно создать собственный институт чистоты! Обучать через него всех проверенных специалистов, и размещая
                их на нашей платформе для того, чтобы люди могли зарабатывать на прямую, честно и без посредников. А
                наша платформа будет извлекать небольшой процент за сохранность и ответственность вашего имущества,
                обучение специалистов, и собственно обеспечение вам и Исполнителю быстрой и легкой связи с друг другом.
                Всего вам чистого!</p>
        </div>

    </div>

    <!--end advantage_section-->


    <!--start third_section-->

    <div class="third_section">
        <div class="left">
            <div></div>
            <div>
                <h4>Безопасность и качество. </h4>
                <p>Мы стремимся обеспечить вашу безопасность до, во время и после каждой поездки. Поэтому мы непрерывно
                    развиваем технологию, которая изо дня в день помогает повысить безопасность миллионов уборок и
                    прочих наших услуг.</p>
                <a href="">Подробнее</a>
            </div>
        </div>
        <div class="middle"></div>
        <div class="right">
            <div><h4>Узнать стоимость услуги.</h4></div>
            <div>
                <input type="text">
                <button class="main_button">узнать</button>
            </div>
        </div>

    </div>

    <!--end third_section-->


    <!--start how_works_section-->

    <div class="how_works_section">
        <div class="how_works">
            <h2>Как работает YOLKA</h2>
            <div></div>
            <div>
                <p>Выбираете нужную услугу.</p>
                <p>Выбираете понравившегося вам спецуиалиста. Оцениваете его по отзывам и портфолио.</p>
                <p>Выбираете удобную дату и время, оформляете и подверждаете заказ.</p>
                <p>Встречаете специалиста. Теперь можно заниматься своими делами</p>
                <p>Оставляете отзыв о специалисте и принимаете работу.</p>
            </div>
            <a href="">Подробнее о том, как работает Yolka</a>
        </div>
        <div class="faq">
            <h2>Часто задаваемые вопросы</h2>
            <div>

                <accordion [closeOthers]="true">
                    <accordion-group heading="Header" [panelClass]="customClass">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="Content 1">
                        <p>Content 1</p>
                    </accordion-group>
                    <accordion-group heading="Content 2">
                        <p>Content 2</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </div>

    <!--end how_works_section-->


</div>