@import "../../../assets/sass/variable";
//@import "../../../assets/sass/components";

.web_home_template {
  position: relative;
  z-index: 5;
  margin-top: -30px;
  background: #FFFFFF;

  .top_section {
    height: 620px;
    background: {
      image: url("assets/img/web/home/top_bg.png");
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    .title {
      padding-top: 150px;
      width: 650px;
      margin-left: 80px;
      h1 {
        margin: 0;
        font: {
          family: $OpenSans;
          size: 36px;
          weight: 400;
        }
        line-height: 42px;
        color: #FFFFFF;
      }
    }
    .smile {
      margin-left: 70px;
      margin-top: 120px;
      width: 300px;
      height: 200px;
      background: {
        image: url("assets/img/web/home/top_section_img.png");
        repeat: no-repeat;
      }
    ;
      display: flex;
      justify-content: center;
      align-items: center;
      .main_button {
        max-width: 174px;
      }
    }

  ;
  }

  .advantage_section {
    width: 100%;
    background: #FFFFFF;
    //margin-top: -60px;
    .first {
      .container {
        display: flex;
        flex-direction: row;
        div {
          box-sizing: border-box;
          height: 425px;
          width: 285px;
          margin: 35px 16px 0;
          padding: 0 35px 0;
          background: {
            image: url(assets/img/web/home/Group_3.png);
            size: cover;

          }
          h4 {
            font: {
              weight: bold;
            }
          ;
            margin-top: -15px;
            margin-bottom: 30px;
            padding-right: 30px;
          }
          p {
            font: {
              size: 15px;
            }
          ;
          }
          a {
            text-decoration: underline;
          }
          img {
            margin: 25px 8px 0;
          }
        }
        div:nth-child(1) {
          margin-top: -82px;
          height: 540px;
          width: 280px;
          padding-top: 120px;
          background: {
            image: url("assets/img/web/home/Group_2.png");
          }
          img {
            margin-top: -30px;
          }
        }
      }
    }
    .second {
      background: {
        image: url(assets/img/web/home/advantage_section_bottom.png);
        repeat: no-repeat;
        size: contain;
      }
    ;
      height: 870px;
      width: 990px;
      margin: -10px auto 0;
      h3 {
        margin: 0;
        text-align: center;
        padding-top: 70px;
        font: {
          weight: bold;
        }
      ;
      }
      .choose {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 130px 0 60px;
        .choose_item {
          width: 215px;
          height: 215px;
          box-sizing: border-box;
          margin: 5px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
          display: flex;
          flex-direction: column;
          //justify-content: center;
          align-content: space-between;
          padding: 0 7.5px;
          img {
            height: 200px;
            width: 200px;
            margin: -105px auto 0;
          }
          h4 {
            text-align: center;
            margin: 14px 0;
            text-transform: uppercase;
            font-size: 19px;
          }

          .main_button {
            padding: 10px;
            svg {
              font-size: 20px;
              height: 25px;
              margin: -5px 0;
            }

          }
        }
      }
      p {
        width: 600px;
        margin: 0 auto;
        text-align: center;
      }

    }
  }

  .third_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //margin-top: -10px;
    max-width: 1500px;
    margin: -10px auto;
    .left {
      width: 40%;
      display: flex;
      flex-direction: row;
      div:nth-child(1) {
        background: {
          image: url(assets/img/web/home/third_section_img.png);
        }
        width: 152px;
        height: 152px;
      }
      div:nth-child(2) {
        width: 70%;
        h4 {
          margin: 0 0 5px;
          font: {
            weight: bold;
          }
        ;
        }
        p {
          font-size: 15px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
    .middle {
      background: {
        image: url(assets/img/web/home/third_section.png);

      }
    ;
      height: 100%;
      width: 30px;
      padding-bottom: 110px;
    }
    .right {
      width: 40%;
      h4 {
        margin: 20px 0 10px;
        font: {
          weight: bold;
        }
      ;
      }
    }
  }

  .how_works_section {
    background: {
      image: url(assets/img/web/home/how_works_section.png);
      repeat: no-repeat;
      size: 100%;
    }
    height: auto;
    margin: 0 auto;
    width: 990px;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-content: center;
    .how_works {
      padding-top: 150px;
      margin: 0 auto;
      h2 {
        text-align: center;
        font: {
          weight: bold;
        }
      ;
        margin-bottom: 40px;
      }
      div:nth-child(2) {
        width: 700px;
        height: 100px;
        background: {
          image: url("assets/img/web/home/how_works.png");
          size: cover;
          repeat: no-repeat;
        }
      ;
      }
      div:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          width: 125px;
          font-size: 14px;
          line-height: 16px;
          margin-right: 25px;
          margin-top: 10px;
        }
        p:nth-child(5) {
          margin: 0;
        }
      }
      a {
        text-align: center;
        text-decoration: underline;
        margin: 20px auto 0;
        display: block;

      }
    }
    .faq {
      margin-top: 100px;
      h2 {
        font: {
          weight: bold;
        }
      ;
        text-align: center;
      }
      .accordion_block {
        background: {
          image: url(assets/img/web/home/how_works_accordion.png);
          size: 100%;
        }
      ;
        padding: 0 70px 60px;

        .accordion {
          transition: 1s ease-in;
          width: 100%;
          max-height: 50px;
          height: auto;
          overflow: hidden;
          margin: 15px 0 0px;
          &.active {
            max-height: 1000px;
            transition: .5s ease-in;
          }

          h2 {
            font: {
              size: 24px;
              weight: 200;
            }
            text-align: left;
            border-bottom: 1px solid #999999;
            margin: 0 0 20px;
            padding: 10px 15px;
          }
          p {
            padding: 0 20px;
          }

        }

        a {
          color: #999999;
          text-align: center;
          margin: 20px auto 0;
          display: block;
        }
      }
    }
    .after {
      background: {
        image: url(assets/img/web/home/after_how_works.png);
        repeat: no-repeat;
        size: cover;
      }
      height: 700px;
      margin: 0 auto;
      width: 990px;
      position: relative;
      .left_block {
        position: absolute;
        right: -136px;
        top: -20px;
        width: 298px;
        height: 352px;
        background: {
          image: url(assets/img/web/home/Group_4.png);
          size: cover;
        }
      ;
        padding: 45px 54px;
        text-align: center;
        h3 {
          text-transform: uppercase;
          color: #0099D7;
          font: {
            weight: bold;
            size: 34px;
          }
        ;
        }
        p {
          margin: 30px 0;
        }

      }
    }

  }

  .partners_section {

    height: auto;
    margin: 0 auto;
    width: 990px;
    margin-top: -500px;
    h2 {
      font: {
        weight: bold;
      }
    ;
      text-align: center;
    }
    .partners {
      padding: 150px 100px;
      text-align: center;
      background: {
        image: url(assets/img/web/home/feedback.png);
        repeat: no-repeat;
        size: 100%;
      }
      p {
        color: #999999;
      }
      .employee {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 150px;
        .employee_item {
          border-radius: 4px;
          width: 180px;
          height: 260px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
          padding: 22px;
          img {
            height: 136px;
            width: 136px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
            border-radius: 68px;
            margin-top: -100px;
          }
          h4 {
            font: {
              size: 15px;
              weight: bold;
            }
            margin: 10px 0 0;
          }
          span {
            color: #999999;
          }
          div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p {
              font-size: 14px;
              svg {
                color: #EF5350;
                margin-right: 5px;
              }
            }
            p:nth-child(1) {
              border: 1px solid #999999;
              border-radius: 5px;
              padding: 5px;
            }
            p:nth-child(2) {
              line-height: 30px;
            }
          }
        }

      }
    }
    .feedback {
      background: {
        image: url(assets/img/web/home/how_works_accordion.png);
        size:100% calc(100% - 200px);
        repeat: no-repeat;
      }
      padding: 40px 100px;
      margin-top: -20px;
      z-index: 2;
    }
    .bottom {
      background: {
        image: url(assets/img/web/home/feedback_bottom.png);
        repeat: no-repeat;
        size: 100%;
      }
      z-index: 1;
      padding: 350px 0 100px;
      margin-top: -200px;
      .main_button {
        text-transform: uppercase;
        max-width: 170px;
        margin: 0 auto;
      }

    }

  }

  //media

  @media (min-width: 1400px) {
    .advantage_section {
      .container {
        width: 1300px;

      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1399px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {

  }

  @media (min-width: 540px) and (max-width: 768px) {

  }

  @media (max-width: 540px) {

  }

}