<div style="background: #f8f8f8; padding-bottom: 40px;">
    <div class="top_section">
        <!--<div class="container">-->;
            <!--<div class="title">-->
                <!--&lt;!&ndash;<h1>Ищем специалистов по уборке, химчистке и ремонту. Ваша возможность - жить лучше</h1>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="container">
        <div class="modal-body">
            <div class="first row">
                <form class="col" #RepairForm="ngForm">
                    <div class="form-group" style="padding: 15px;">
                        <label for="name">Тип уборки</label>
                        <select id="name" (change)="select()" [(ngModel)]="data.repair" name="name"
                                #name="ngModel" required>
                            <option *ngFor="let repair of repairs" value="{{repair.id}}">{{repair.name}}</option>
                        </select>
                    </div>

                    <div [ngSwitch]="data.repair">
                        <app-supporting *ngSwitchCase="0"></app-supporting>
                        <app-general *ngSwitchCase="1"></app-general>
                        <app-after-repair *ngSwitchCase="2"></app-after-repair>
                        <app-window-balconies *ngSwitchCase="3"></app-window-balconies>
                        <app-dry-cleaning *ngSwitchCase="4"></app-dry-cleaning>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
