

app-sidebar {
    float: left;
}

.account_panel {
    width: 60%;
    margin: 0 auto;
    height: calc(100vh - 301px);
    .main_panel_account {
        margin-left: 320px;
        min-height: calc(100vh - 423px);
        .navbar {
            height: 50px;
            p {
                font: {
                    size: 24px;
                    family: 'Museo Sans', sans-serif;
                    weight: bold;
                }
                color: #333;
            }
        }
    }
}

.backgraund {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #F8F8F8;
}