@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "assets/sass/light-bootstrap-dashboard";
@import "assets/sass/variable";
@import "assets/sass/components";



.modal-dialog {
  width: 360px;
  // margin: 20% auto;
  .modal-content{
    max-width: 360px;
  }
}

app-admin {
  background: #F8F8F8;
}
//media

@media (min-width: 1500px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 540px) and (max-width: 768px) {

}

@media (max-width: 540px) {
  .modal-dialog {
    width: 300px;
  }
}
