<div style="background: #f8f8f8; padding-bottom: 40px;">
    <div class="top_section">
    </div>
    <div class="container">
        <div class="modal-body">
            <div class="col-12">
                <div class="col-md-6">
                    <button style="width: 60%; height: 120px;" type="submit" class="main_button" [routerLink]="['../register', 1]" > Зарегистрироваться как клиент</button>
                </div>
                <div class="col-md-6">
                    <button style="width: 60%; height: 120px;" type="submit" class="main_button" [routerLink]="['../register', 2]" > Зарегистрироваться как специалист</button>
                </div>
            </div>
        </div>
    </div>
</div>