<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" class="pull-left" (click)="back()">
        <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
    </button>
</div>
<div class="modal-body">
    <h4>Восстановление пароля</h4>
    <p>введите e-mail или телефон указанный при регистрации</p>
    <input type="text" placeholder="E-mail">
    <input type="numder" placeholder="Телефон">

    <button class="main_button">Восстановить</button>
</div>
