<div class="col-12">
    <div class="col">
        <div class="row cleaning">
            <div class="col col-sm-6 profile_info">
                <div class="avatar">
                    <img src="assets/img/admin/camp.png" alt="">
                </div>
                <div class="body_info">
                    <h2>Елена Горюнова</h2>
                    <p>специалист по уборке</p>
                    <div>
                        <span>
                            <div class="icon"></div>
                            <p>4,9</p>
                        </span>
                        <p>Отзывов: 12</p>
                    </div>
                    <a href="">Подробнее</a>
                </div>
            </div>
            <div class="col col-sm-6 timer_block">
                <div>
                    <p>Уборка уже идет:</p>
                    <h2>01:23:42</h2>
                </div>
                <div>
                    <p>Осталось:</p>
                    <h2>00:17:03</h2>
                </div>
                <button>Связаться</button>
            </div>
        </div>
    </div>
</div>