 .cleaning {
   //display: flex;
   .profile_info {
     height: 325px;
     padding-top: 68px;
     display: inline-block;
     width: 183px;
     position: relative;
     .avatar {
       box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
       left: calc(50% - 54px);
       position: absolute;
       height: 136px;
       width: 136px;
       top: 0;
       border: {
         radius: 100px;
       }
       img {
         height: 136px;
         width: 136px;
         border: {
           radius: 100px;
         }
       }
     }
     .body_info {
       padding-top: 60px;
       height: 257px;
       width: 183px;
       margin: 0;
       text-align: center;
       box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
       h2 {
         font: {
           size: 18px;
           weight: bold;
           family: 'Roboto', sans-serif;
         }
         margin-bottom: 5px;
       }
       p {
         font: {
           size: 12px;
           weight: 400;
           family: 'Museo Sans', sans-serif;
         }
         color: #999999;
       }
       div {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         margin: 25px 0;
         span {
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
           justify-content: center;
           align-items: center;
           border: {
             radius: 4px;
             style: solid;
             width: 1px;
             color: #D2D2D2;
           }
           width: 50px;
           height: 26px;
           margin-right: 10px;
           .icon {
             display: block;
             background: {
               image: url(assets/img/admin/hurd.svg);
             }
             width: 18px;
             height: 16px;
           }
           p {
             margin-left: 5px;
           }
         }
         p {
           margin: 0;
         }
       }
       a {
         color: #0099D7;
         font: {
           family: 'Roboto', sans-serif;
           weight: 400;
           size: 14px;
         }
         text-decoration: underline;
       }
     }
   }
   .timer_block {
     //display: inline-block;
     height: 325px;
     margin-left: 25px;
     padding-top: 60px;
     div {
       margin-bottom: 15px;
       p {
         font: {
           size: 24px;
           family: 'Museo Sans', sans-serif;
           weight: 300;
         }
         color: #333;
       }
       h2 {
         font: {
           size: 24px;
           family: 'Museo Sans', sans-serif;
           weight: bold;
         }
         color: #333;
         margin: 0;
       }
     }
     button {
       font: {
         size: 14px;
         family: 'Museo Sans', sans-serif;
         weight: 500;
       }
       border: none;
       border-radius: 40px;
       color: #fff;
       width: 97px;
       height: 30px;
       background: #0099D7;
       margin-top: 30px;
       &:focus {
         outline: none;
       }
     }
   }
 }

 .col-12{
   .col {
     .card {
       padding: 20px;
       p {
         font: {
           size: 16px;
           family: 'Open Sans', sans-serif;
           weight: 400;
         }
         color: #000;
       }
     }
   }
 }