.main_button{
  background: #0099D7;
  padding: 10px 16px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
  border: none;
}

  //media

  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1499px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {

  }

  @media (min-width: 540px) and (max-width: 768px) {

  }

  @media (max-width: 540px) {

  }
